/*!
 * \file
 * \brief
 * \author @TMPLAuthor@
 */

#include <memory>
#include <string>

#include "TemplateComponent.hpp"
#include "Common/Logger.hpp"

namespace Processors {
namespace TemplateComponent {

TemplateComponent::TemplateComponent(const std::string & name) :
		Base::Component(name) @TMPLInitializer@ {
	@TMPLConstructor@
}

TemplateComponent::~TemplateComponent() {
}

void TemplateComponent::prepareInterface() {
	// Register data streams, events and event handlers HERE!
	@TMPLPrepareInterface@
}

bool TemplateComponent::onInit() {
	@TMPLInit@
	return true;
}

bool TemplateComponent::onFinish() {
	return true;
}

bool TemplateComponent::onStop() {
	return true;
}

bool TemplateComponent::onStart() {
	return true;
}

@TMPLMethodsCode@

} //: namespace TemplateComponent
} //: namespace Processors
